authenticationDobleFactor/Resources/Schemas/errorHandler.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://errorHandler.com.co"
            targetNamespace="http://errorHandler.com.co" elementFormDefault="qualified">
  <xsd:element name="exampleElement">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="errorCode" type="xsd:string"/>
        <xsd:element name="errorDescripcion" type="xsd:string"/>
        <xsd:element name="operation" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
